@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.09;
  }
}

.fade-out {
  animation: fadeOut 2s ease-in-out forwards;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slideUp {
  animation: slideUp 0.8s ease forwards;
}

@keyframes slideLeft {
  from { transform: translateX(100%); opacity:0;}
  to { transform: translateX(0); opacity:1;}
}

@keyframes slideRight {
  from { transform: translateX(-100%); opacity:0;}
  to { transform: translateX(0); opacity:1;}
}

.animate-slideLeft {
  animation: slideLeft 0.5s ease;
}

.animate-slideRight {
  animation: slideRight 0.5s ease;
}